div {
  margin-bottom: 20px;
}

label.checkbox input {
  position: absolute;
  left: -9999px;
}

label.checkbox .text {
  font: 12px/14px;
  color: #555;
  position: relative;
  top: -8px;
  margin-left: 10px;
}

label.checkbox .checkbox {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.26);
  position: relative;
  transition: 300ms;
}

label.checkbox .checkbox span {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 300ms left, background;
}

label.checkbox input:checked + .checkbox span {
  right: 0;
}

label.checkbox input:checked + .checkbox {
  background-color: #83b1f4;
}

label.checkbox input:checked + .checkbox span {
  background: #4285f4;
  left: calc(100% - 30px);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input:focus {
  border-left: thick solid #83b1f4;
}
