input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #eee;
}

input:focus {
  border-bottom: thin solid #88a9b0;
}

.login-form {
  width: 60%;
  max-width: 540px;
  margin: auto;
  background-color: #88a9b057;
  border-radius: 10px;
  padding: 15px;
  transition: all 300ms;
}

.login-form__title {
  margin: 15px 15px 20px;
}

.login-form form {
  padding: 15px;
}

.login-btn {
  width: 100%;
  margin-top: 15px;
  background: #519ba6;
  color: #fff;
  font-size: 16px;
  padding: 16px;
}

.login-btn:hover {
  opacity: 0.8;
}

div {
  margin-bottom: 20px;
}

label.checkbox {
  margin-top: 12px;
}

label.checkbox input {
  position: absolute;
  left: -9999px;
}

label.checkbox .text {
  font: 12px/14px;
  position: relative;
  top: -10px;
  margin-left: 10px;
}

label.checkbox .checkbox {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.26);
  position: relative;
  transition: 300ms;
}

label.checkbox .checkbox span {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 300ms left, background;
}

label.checkbox input:checked + .checkbox span {
  right: 0;
}

label.checkbox input:checked + .checkbox {
  background-color: #83b1f4;
}

label.checkbox input:checked + .checkbox span {
  background: #4285f4;
  left: calc(100% - 30px);
}

label {
  display: block;
  margin-bottom: 5px;
}
