.login-form {
  width: 60%;
  max-width: 540px;
  margin: auto;
  background-color: #88a9b057;
  border-radius: 10px;
  padding: 15px;
}

.login-form__title {
  margin: 15px 15px 20px;
}

.login-form form {
  padding: 15px;
}

.login-btn {
  width: 100%;
  margin-top: 15px;
  background: #519ba6;
  color: #fff;
  font-size: 16px;
  padding: 16px;
}

.login-btn:hover {
  opacity: 0.8;
}
